.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:24px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid gray;
    border-radius: 50px;
    height:40px;

   padding-left:10px;
   padding-right: 10px;
   box-shadow: 0px 0px 5px gray; /* Adding gray box shadow */

}



.search>div>input[type="text"]{
    width:80px;
    height:30px;
   border: none;


}
.search > div:last-child {
    background-color: orange;
    color: white;
    padding: 7px 7px;
    cursor: pointer;
    border-radius: 50%;
}
.search >.b,
.search >.f {
    border-right: 1px solid gray;
}
.search>div>input[type="text"]::placeholder{
color: black;
font-weight: bold;
text-align: center;
}



.profile{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    gap:5px;
}

.btn>button{
    display: flex;
width: 32px;
height: 32px;
justify-content: space-between;
align-items:center;
background-color: white;
width:auto;
height:40px;
border-radius: 20px;
padding: 12px;
gap:12px;
border: 1px solid gray;

}



.filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px;
    color: gray;
}

.filters>div{
    border: 1px solid gray;
    border-radius: 50px;
    padding:5px;
   
}

.price,.place,.filter{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.main{

   
    display: flex;
 
   justify-content: space-between;
    margin-left:24px;
}


.main-1{
    
    width:100%;
    height: 652px;
    overflow-y: scroll;
   
}
.main-1::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
}

.main-1::-webkit-scrollbar-track {
    background:none; /* Set the background color of the track */
}

.main-1::-webkit-scrollbar-thumb {
    background:none;
}

.main-1::-webkit-scrollbar-thumb:hover {
    background: none;
 cursor: pointer;
}


.map{
    width: 600px;
height: 652px;
flex-shrink: 0;
background-image: url("./img-1/Map.png");
}


.n-stay{
    padding: 12px;
    color: gray;
}

.cards{
    display: flex;
flex-direction: row;
   
    margin:12px;
   
    gap:0px;
  
    width:95%;
    height:200px;
    padding-bottom:12px;
    margin-bottom:12px;
    
}
hr{
    margin: 12px;
}


.text{
    width:300px;
 
}
.contains-heart{
    display: flex;
    
    justify-content: space-between;

}

.line{
    border-top: 1px solid gray;
    width:50px;
}




.img-content{
    margin:12px;
}


.home{
    color: gray;
}

.name{
    font-weight: bold;
    font-size: 20px;
}

.list ul {
   
    padding: 0;
    list-style-type: none; /* Remove the default list style */
}

.list ul li {
    display: inline;
    color: gray;
    margin-right: 5px;
}


.list ul li:not(:first-child)::before {
    content: "•"; /* Unicode bullet character (•) */
   
    margin-right: 3px; /* Adjust the spacing */
}

.l1{
    margin-top: -18px;
}




.review{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:80px;
    font-size: 18px;
}


.r-scale{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}